// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pr-div1{
  margin: 10px auto;
  border: 2px red solid;
  text-align:center;
}

.thumbnail{
  margin: auto;


}
