// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.lp-image {
  background-image:url('http://ww3.sinaimg.cn/large/006tNbRwgy1felyih8q6oj31hc0u048w.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
